body{
  background: url(https://2.bp.blogspot.com/-ZrC3MgDnLLw/V6aY9wql3AI/AAAAAAAAJ_Q/LpjunU8IbvUVUK8UKxxd1Y7fF0cWUPNfQCLcB/s1600/Existe%2BMatem%25C3%25A1tica%2Bna%2BCapoeira.PNG);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 16px;
}

header {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
  background-color: #1b1b32A0;
  margin: 0 auto;
  padding-bottom: 2em;
  border-radius: 20px;
}

fieldset {
  border: none;
  padding: 1rem 2rem 2rem 2rem;
  border-bottom: 1px solid #ffffff;
}

fieldset:last-of-type {
  border-bottom: none;
}

input, textarea {
  width: 100%;
  margin: 10px 0 5px 0;
  border: 1px solid #0a0a23;
  color: #000000;
}

input[type='radio'], input[type='checkbox'] {
  width: 10%;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

p {
  font-size: 20px;
}

em {
  font-size: 14px
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

label {
  display: block;
  margin: 0.5rem 0;
}

